table {
    border-collapse: collapse;
}

.track {
    margin: 20px;
}

.track table {
    border: 3px solid black;
}

.track td {
    vertical-align: top;
    text-align: center;
    border-left: 1px solid black;
}

.track td div{
    min-width: 18px;
    min-height: 18px;
    text-align: center;
}

.track td div.space{
    min-width: 100px;
    max-width: 100px;
    min-height: 50px;
    text-align: center;
    font-size: 9pt;
}

.track td div.header {
    font-weight: bold;
    font-size: 14pt;
    min-width: 100px;
}

.track thead td {
    border: 3px solid black;
}

.track thead td:first-child {
    border-bottom: 0px;
}

.track td:nth-child(3n-1) {
    border-left: 3px solid black;
}

.track div.occupied {
    margin: 0 auto;
    background-color: dodgerblue;
    width: 7px;
    height: 7px;
    border-radius: 3px;
}

.track .exploration {
    background-color: royalblue;
}

.track .science {
    background-color: forestgreen;
}

.track .technology {
    background-color: goldenrod;
}

.track .military {
    background-color: darkred;
}

.city {
    float: left;
    margin-left: 20px;
    text-align: center;
}

.city td {
    border: 1px solid black;
}

.city td div{
    min-width: 7px;
    min-height: 7px;
}

.city tr:first-child td {
    border-top: 3px solid black;
}

.city tr:nth-child(3n+3) td {
    border-bottom: 3px solid black;
}

.city td:first-child {
    border-left: 3px solid black;
}

.city td:nth-child(3n+3) {
    border-right: 3px solid black;
}

.city td {
    width: 25px;
    height: 25px;
    max-width: 25px;
    max-height: 25px;
    background-color: #ffedbd;
}

.city td div{
    margin: 0 auto;
    width: 90%;
    height: 90%;
}

/* dot */
.city td div.d{
    width: 35%;
    height: 35%;
    border-radius: 50%;
    background-color: #ff4a3b;
}

/* farm */
.city td div.f, .city td div.adding-f:hover, .incomeMat td div.f{
    border-radius: 15%;
    background-color: #422820;
}

/* house */
.city td div.h, .city td div.adding-h:hover, .incomeMat td div.h{
    border-radius: 15%;
    background-color: dimgray;
}

/* market */
.city td div.m, .city td div.adding-m:hover, .incomeMat td div.m{
    border-radius: 50%;
    background-color: #c2ae1f;
}

/* armory */
.city td div.a, .city td div.adding-a:hover, .incomeMat td div.a{
    border-radius: 50%;
    background-color: #640d0f;
}

.city td div.adding-f:hover,
.city td div.adding-h:hover,
.city td div.adding-m:hover,
.city td div.adding-a:hover {
    cursor: pointer;
}

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.pulse {
    animation-name: pulse;
    animation-duration: 2.5s;
}

.city p.smallMessage {
    margin-top: 0px;
    font-size: 10pt;
}

.incomeMat {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.incomeMat table {
    border: 3px solid black;
    margin-bottom: 10px;
}

.incomeMat td {
    text-align: center;
    border-left: 1px solid black;
    background-color: #ffedbd;
}

.incomeMat td div.space{
    min-width: 65px;
    max-width: 65px;
    min-height: 65px;
    max-height: 65px;
    text-align: center;
    font-size: 8pt;
}

text.hidden {
    fill: white;
}

svg {

}

svg g {
    fill: #ffffff;
    /*fill-opacity: 0.6;*/
}
svg g:hover {
    fill: #000000;
    /*fill-opacity: 0.7;*/
}
svg g:hover text {
    /*fill-opacity: 1;*/
}

svg g polygon {
    stroke: #000000;
    stroke-width: 0.2;
    /*transition: fill-opacity .5s;*/
}
svg g text {
    font-size: 0.14em;
    fill: black;
    /*fill-opacity: 0.7;*/
    /*transition: fill-opacity .5s;*/
}

.resourceTrack {
    clear: both;
    text-align: center;
    margin-left: 50px;
}

.resource{
    float: left;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
}
